*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --animation-duration: 5s;
  --timing-function-logo: cubic-bezier(0.68, -0.5, 0.265, 1.55); /* back in out */
  --timing-function-b: cubic-bezier(0.445, 0.05, 0.55, 0.95); /* sine in out */
  --timing-function-accent: cubic-bezier(0.215, 0.61, 0.355, 1); /* cubic ease-out */
}
body {
  background: hsl(0, 0%, 97%);
  color: hsl(230, 30%, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

svg {
  width: 200px;
  height: auto;
  display: block;
  animation: transform-icon var(--animation-duration) var(--timing-function-logo) both;
}

#logo {
  animation: transform-logo var(--animation-duration) var(--timing-function-logo) both;
}

#b {
  animation: stroke-b var(--animation-duration) var(--timing-function-b) both;
}

#accent {
  animation: stroke-accent var(--animation-duration) var(--timing-function-accent) both;
}

@keyframes transform-icon {
  90% {
    transform: scale(0.8) rotate(20deg);
  }
}

@keyframes transform-logo {
  90% {
    transform: scale(0.6) rotate(5deg);
  }
}

@keyframes stroke-b {
  0%,
  20% {
    stroke-dashoffset: 0;
  }
  92% {
    /* stroke-dashoffset: 0.88; */
    stroke-dashoffset: 114.2;
  }
  95%,
  100% {
    /* stroke-dashoffset: -0.07; */
    stroke-dashoffset: -9.142;
  }
}

@keyframes stroke-accent {
  0%,
  94.5% {
    /* stroke-dashoffset: 1; */
    stroke-dashoffset: 14.01;
  }
  98%,
  100% {
    /* stroke-dashoffset: -0.32; */
    stroke-dashoffset: -4.5;
  }
}
