/* the default breakout of the header occurs with a pseudo element, vw units and and z-index */
body {
  overflow-x: hidden;
}

header {
  background: hsl(230, 30%, 10%);
  background: var(--body-color);
  color: hsl(0, 0%, 97%);
  color: var(--body-background);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='hsl(0, 0%25, 0%25)' opacity='0.3' width='20' height='20' viewBox='-5 -5 10 10'%3E%3Ccircle id='dot' r='1' /%3E%3Cuse href='%23dot' x='5' y='5' /%3E%3Cuse href='%23dot' x='-5' y='5' /%3E%3Cuse href='%23dot' x='5' y='-5' /%3E%3Cuse href='%23dot' x='-5' y='-5' /%3E%3C/svg%3E");
  background-size: 1rem;
  background-position: -0.5rem -0.5rem;
  padding: 2rem 0;
  max-width: 40em;
  width: 90vw;
  margin: 0rem auto;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
header:before {
  z-index: -5;
  content: "";
  position: absolute;
  background: inherit;
  width: 100vw;
  height: 100%;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}
header > * {
  margin: 1rem 0;
}
header p {
  line-height: 1.75;
}

main {
  max-width: 40em;
  width: 90vw;
  margin: 2rem auto 4rem;
}
/* vertical space between the articles */
main > * + * {
  margin-top: 2rem;
}
/* vertical space between the articles' content */
article > * + * {
  margin-top: 0.75rem;
}

article h2 {
  font-size: 1.8rem;
}
article h2 a {
  display: inline-flex;
  align-items: center;
}

article h2 a svg {
  width: 1.5em;
  height: auto;
}
article time {
  background: var(--accent-background);
  border-left: 0.2rem solid var(--accent-color);
  padding: 0.2rem 0.5rem;
  display: inline-block;
}
article p {
  line-height: 2;
}

/* keep the default accent only on the first article */
article:not(:first-of-type) {
  --accent-color: var(--primary-5);
  --accent-background: var(--primary-0);
}

article:first-of-type h2 {
  font-size: 2rem;
}

/* resize the headings and time element on smaller screens */
@media (max-width: 30em) {
  article h2 {
    font-size: 1.5rem;
  }
  article time {
    font-size: 0.9rem;
  }
  article:first-of-type h2 {
    font-size: 1.8rem;
  }
  article > * + * {
    margin-top: 0.75rem;
  }
}

@supports (display: grid) {
  /* breakout with css grid, keeping the content in the central column */
  body {
    overflow-x: initial;
  }

  header {
    max-width: initial;
    width: initial;
    z-index: initial;
    position: initial;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 40em) 1fr;
    grid-column-gap: 5vw;
  }
  header > * {
    grid-column: 2;
  }
  header:before {
    display: none;
  }

  /* 15em column guarantees at most 2 columns */
  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 2rem 1rem;
  }
  /* reset the vertical space, set with the grid-gap property */
  main > * + * {
    margin-top: initial;
  }
  /* stretch the first article across the viewport */
  article:first-of-type {
    grid-column: 1/-1;
  }
}

@supports (grid-template-columns: subgrid) {
  article {
    grid-gap: 0;
    display: grid;
    grid-row: span 3;
    grid-template-rows: subgrid;
    justify-items: start;
  }
}

/* COMPONENTS STYLESHEET */

/* breadcrumb css */
nav {
  max-width: 40em;
  width: 90vw;
  margin: 0 auto;
  padding: 1rem 0;
}
nav a {
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  font-size: 0.95rem;
  text-decoration: none;
  /* vertically align the accompanying icon */
  display: inline-flex;
  align-items: center;
}
nav a svg {
  margin: 0 0.4rem;
  width: 1.5em;
  height: auto;
}
/* footer css */
footer {
  --animation-duration: 2s;
  --animation-timing-function: var(--ease-in-out-sine);
  --accent-color: var(--accent-4);
  color: hsl(0, 0%, 97%);
  color: var(--body-background);
  background: hsl(230, 30%, 10%);
  background: var(--body-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='hsl(0, 0%25, 0%25)' opacity='0.3' width='20' height='20' viewBox='-5 -5 10 10'%3E%3Ccircle id='dot' r='1' /%3E%3Cuse href='%23dot' x='5' y='5' /%3E%3Cuse href='%23dot' x='-5' y='5' /%3E%3Cuse href='%23dot' x='5' y='-5' /%3E%3Cuse href='%23dot' x='-5' y='-5' /%3E%3C/svg%3E");
  background-size: 1rem;
  background-position: -0.5rem -0.5rem;
  padding: 3rem 1rem 2rem;
  text-align: center;
  position: relative;
}

footer a {
  font-family: "Maven Pro", sans-serif;
  font-size: 0.95rem;
  font-weight: 500;
  border-bottom: 0.1rem solid var(--accent-4);
}

/*
- color: body's color (and footer's background)
- background: body's background
- border: currentColor
*/
footer svg {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 4rem;
  height: 4rem;
  display: block;
  transform: translate(-50%, -50%);
  padding: 0.5rem;

  color: hsl(230, 30%, 10%);
  color: var(--body-color);
  background: hsl(0, 0%, 97%);
  background: var(--body-background);

  border: 0.4rem solid currentColor;
  border-radius: 50%;
  transition: color 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
/* set up an animation on the group element housing the icon
! paused by default
*/
footer svg g {
  animation: heart-beat 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation: heart-beat var(--animation-duration) var(--animation-timing-function) infinite;
  animation-play-state: paused;
}

@keyframes heart-beat {
  10%,
  30% {
    transform: scale(0.8);
  }
  0%,
  20%,
  40% {
    transform: scale(1);
  }
}

/* when selecting the anchor link, update the color of the sibling svg
! enable the animation of the nested group
*/
footer a:hover + svg,
footer a:focus + svg {
  color: hsl(342, 80%, 50%);
  color: var(--accent-color);
}
footer a:hover + svg g,
footer a:focus + svg g {
  animation-play-state: running;
}

/* don't run the animation when the user prefers not to */
@media (prefers-reduced-motion: reduce) {
  footer a:hover + svg g,
  footer a:focus + svg g,
  footer svg:hover g {
    animation-play-state: paused;
  }
}
