@import url("https://fonts.googleapis.com/css?family=Vesper+Libre:700,900|Source+Sans+Pro:400,600,700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  color: hsl(229, 20%, 5%);
  background: hsl(229, 20%, 95%);
  font-family: "Source Sans Pro", sans-serif;
}
h1,
h2 {
  font-family: "Vesper Libre", serif;
}
::selection {
  background: hsl(345, 95%, 50%);
}

/* header stretching to cover the entirety of the viewport */
header {
  background: hsl(229, 20%, 5%);
  color: hsl(0, 0%, 97%);
  padding: 10vh 2rem;
  align-self: stretch;
  margin-bottom: 2rem;
  text-align: center;
}
header h1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 900;
}
/* inline icons */
header svg {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  display: inline-block;
}

/* single column layout */
article {
  width: 95vw;
  max-width: 550px;
  padding: 1rem;
  line-height: 1.75;
  margin: 1rem auto;
}
article > p + p {
  margin-top: 1rem;
}
/* use pseudo elements to add a line around the headings */
article h2 {
  margin: 3rem 0 1.5rem;
  font-weight: 700;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
}
article h2:before,
article h2:after {
  content: "";
  height: 2px;
  background: currentColor;
}
article h2:before {
  margin-right: 0.5rem;
}
article h2:after {
  margin-left: 0.5rem;
}
article h2:before {
  flex: 0 0 30px;
  transition: flex 0.25s ease-in-out;
}
article h2:after {
  flex: 1;
}

@media screen and (max-width: 700px) {
  h2:before,
  h3:before {
    flex: 1 0 0;
  }
}

article pre {
  overflow-x: auto;
  padding: 10px;
  margin: 10px -5px;
}
article pre code {
  font-size: 0.75rem;
  font-family: "Fira Code", monospace;
  background: initial;
  color: initial;
  padding: initial;
  border-radius: initial;
}
article p code {
  background: hsl(229, 20%, 20%);
  color: hsl(0, 0%, 97%);
  font-family: "Fira Code", monospace;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 0.1rem 0.4rem;
}
article ul {
  list-style-position: inside;
}
article a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid hsl(345, 90%, 45%);
}
article a:hover {
  color: hsl(345, 90%, 45%);
}
article a:focus {
  outline-color: hsl(345, 90%, 45%);
}

article p {
  line-height: 1.75;
  font-size: 1rem;
}
