/* for the project at hand go to line ~67 */
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary-0: hsl(205, 100%, 90%);
  --primary-1: hsl(205, 90%, 80%);
  --primary-2: hsl(210, 80%, 70%);
  --primary-3: hsl(220, 75%, 60%);
  --primary-4: hsl(222, 60%, 50%);
  --primary-5: hsl(225, 55%, 45%);
  --primary-6: hsl(225, 50%, 30%);
  --primary-7: hsl(225, 40%, 20%);
  --primary-8: hsl(230, 30%, 10%);

  --accent-0: hsl(325, 100%, 90%);
  --accent-1: hsl(332, 95%, 80%);
  --accent-2: hsl(335, 95%, 70%);
  --accent-3: hsl(337, 92%, 65%);
  --accent-4: hsl(340, 90%, 55%);
  --accent-5: hsl(342, 80%, 50%);
  --accent-6: hsl(340, 75%, 45%);
  --accent-7: hsl(340, 70%, 30%);
  --accent-8: hsl(340, 65%, 20%);

  --grey-0: hsl(0, 0%, 97%);
  --grey-1: hsl(0, 0%, 85%);
  --grey-2: hsl(0, 0%, 75%);
  --grey-3: hsl(0, 0%, 65%);
  --grey-4: hsl(0, 0%, 55%);
  --grey-5: hsl(0, 0%, 45%);
  --grey-6: hsl(0, 0%, 35%);
  --grey-7: hsl(0, 0%, 25%);
  --grey-8: hsl(0, 0%, 15%);

  --transition-duration: 0.25s;
  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

body {
  color: var(--grey-8);
  background: var(--grey-0);
  font-family: "Source Sans Pro", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}
body::-webkit-scrollbar-track {
  background: currentColor;
}
body::-webkit-scrollbar-thumb {
  border: 0.2rem solid currentColor;
  border-radius: 0.5rem;
  background: var(--accent-4);
}

::selection {
  background: var(--accent-4);
  color: var(--grey-0);
}

/* SECTIONS */
div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div:nth-of-type(even) {
  --accent-5: var(--primary-4);
}

div section {
  max-width: 40em;
  width: 90vw;
  margin: 2rem auto;
}

div section h2 {
  text-transform: capitalize;
  font-size: 3rem;
  text-align: center;
}

div section > svg {
  float: left;
  margin-right: 1rem;

  display: block;
  max-width: 28em;
  width: 100%;
  height: auto;
  color: var(--accent-5);
}
div:nth-of-type(even) section > svg {
  float: right;
  margin-right: initial;
  margin-left: 1rem;
}

div section p {
  line-height: 2;
  margin: 2rem 0 1rem;
  font-size: 1.1rem;
}

div section a {
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: inherit;
  text-decoration: none;
  border-bottom: 0.2rem solid var(--accent-5);
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color var(--transition-duration) var(--ease-in-out-sine);

  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
}
div section a:hover,
div section a:focus {
  color: var(--accent-5);
}
div section a:focus {
  outline-color: var(--accent-5);
}
div section a svg {
  display: block;
  width: auto;
  height: 1em;
  margin-right: 0.5rem;
  transform: scaleX(-1);
}

div:nth-of-type(even) a {
  flex-direction: row;
}
div:nth-of-type(even) a svg {
  margin-right: initial;
  margin-left: 0.5rem;
  transform: initial;
}

@supports (shape-outside: circle()) {
  div section > svg {
    shape-outside: circle();
  }
  div:nth-of-type(even) {
    text-align: right;
  }
}

@media (max-width: 42rem) {
  div section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: initial;
  }

  div section h2 {
    text-align: initial;
  }
  div section p {
    text-align: initial;
  }
  div section a {
    flex-direction: row;
  }
  div section a svg {
    margin-right: initial;
    margin-left: 0.5rem;
    transform: initial;
  }
  div section > svg {
    order: 1;
    align-self: center;
    margin: initial;
    max-width: 25em;
  }
}
