div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* update the accent color to alternate between palette */
div:nth-of-type(even) {
  --accent-color: var(--primary-4);
}

div section {
  max-width: 40em;
  width: 90vw;
  margin: 2rem auto;
}

div section h2 {
  text-transform: capitalize;
  font-size: 3rem;
  text-align: center;
}

div section > svg {
  float: left;
  margin-right: 1rem;

  display: block;
  max-width: 28em;
  width: 100%;
  height: auto;
  color: hsl(342, 80%, 50%);
  color: var(--accent-color);
}
div:nth-of-type(even) section > svg {
  float: right;
  margin-right: initial;
  margin-left: 1rem;
}

div section p {
  line-height: 2;
  margin: 2rem 0 1rem;
  font-size: 1.1rem;
}

div section a {
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  border-bottom: 0.2rem solid hsl(342, 80%, 50%);
  border-bottom: 0.2rem solid var(--accent-color);

  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
}

div section a svg {
  display: block;
  width: auto;
  height: 1em;
  margin-right: 0.5rem;
  transform: scaleX(-1);
}

div:nth-of-type(even) a {
  flex-direction: row;
}
div:nth-of-type(even) a svg {
  margin-right: initial;
  margin-left: 0.5rem;
  transform: initial;
}

div section a svg path {
  transition: stroke-dashoffset 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: stroke-dashoffset var(--transition-duration) var(--transition-timing-function);
}
div section a:hover svg path,
div section a:focus svg path {
  stroke-dashoffset: 0;
}

@supports (shape-outside: circle()) {
  div section > svg {
    shape-outside: circle();
  }
  div:nth-of-type(even) {
    text-align: right;
  }
}

@media (max-width: 42rem) {
  div section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: initial;
  }

  div section h2 {
    text-align: initial;
    font-size: 2.75rem;
  }
  div section p {
    text-align: initial;
    font-size: 1rem;
  }
  div section a {
    flex-direction: row;
    font-size: 1rem;
  }
  div section a svg {
    margin-right: initial;
    margin-left: 0.5rem;
    transform: initial;
  }
  div section > svg {
    order: 1;
    align-self: center;
    margin: initial;
    max-width: 25em;
  }
}
