*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-0: hsl(205, 100%, 90%);
  --primary-1: hsl(205, 90%, 80%);
  --primary-2: hsl(210, 80%, 70%);
  --primary-3: hsl(220, 75%, 60%);
  --primary-4: hsl(222, 60%, 50%);
  --primary-5: hsl(225, 55%, 45%);
  --primary-6: hsl(225, 50%, 30%);
  --primary-7: hsl(225, 40%, 20%);
  --primary-8: hsl(230, 30%, 10%);

  --accent-0: hsl(325, 100%, 90%);
  --accent-1: hsl(332, 95%, 80%);
  --accent-2: hsl(335, 95%, 70%);
  --accent-3: hsl(337, 92%, 65%);
  --accent-4: hsl(340, 90%, 55%);
  --accent-5: hsl(342, 80%, 50%);
  --accent-6: hsl(340, 75%, 45%);
  --accent-7: hsl(340, 70%, 30%);
  --accent-8: hsl(340, 65%, 20%);

  --grey-0: hsl(0, 0%, 97%);
  --grey-1: hsl(0, 0%, 85%);
  --grey-2: hsl(0, 0%, 75%);
  --grey-3: hsl(0, 0%, 65%);
  --grey-4: hsl(0, 0%, 55%);
  --grey-5: hsl(0, 0%, 45%);
  --grey-6: hsl(0, 0%, 35%);
  --grey-7: hsl(0, 0%, 25%);
  --grey-8: hsl(0, 0%, 15%);

  --transition-duration: 0.25s;
  --heart-animation-duration: 2s;
  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

::selection {
  background: var(--accent-4);
  color: var(--grey-0);
}

body {
  color: var(--primary-8);
  background: var(--grey-0);
  font-family: "Source Sans Pro", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.75rem;
}
body::-webkit-scrollbar-track {
  background: currentColor;
}
body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: var(--accent-4);
}

::selection {
  background: var(--accent-4);
  color: var(--grey-0);
}

nav {
  max-width: 40em;
  width: 90vw;
  margin: 0 auto;
  padding: 1rem 0;
  /* offset to have the header relative to the beginning of the page */
  margin-bottom: -2rem;
}
nav a {
  font-family: "Catamaran", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color var(--transition-duration) var(--ease-in-out-sine);
  outline-color: var(--accent-5);
}
nav a * {
  margin-left: 0.4rem;
}
nav a svg {
  width: 1.5em;
  height: auto;
}
nav a:hover,
nav a:focus {
  color: var(--accent-5);
}

header {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='hsl(0, 0%25, 0%25)' opacity='0.3' width='20' height='20' viewBox='-5 -5 10 10'%3E%3Ccircle id='dot' r='1' /%3E%3Cuse href='%23dot' x='5' y='5' /%3E%3Cuse href='%23dot' x='-5' y='5' /%3E%3Cuse href='%23dot' x='5' y='-5' /%3E%3Cuse href='%23dot' x='-5' y='-5' /%3E%3C/svg%3E"),
    var(--primary-8);
  background-size: 1rem;
  background-position: -0.5rem -0.5rem;
  color: var(--grey-0);
  text-align: center;
  padding: 6rem 1.5rem;
  margin: 2rem 0 6rem;
  position: relative;
}
header h1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 800;
  font-family: "Catamaran", sans-serif;
}
header section {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  width: max-content;
  background: var(--grey-0);
  color: var(--primary-8);
  padding: 0.5rem 1.25rem;
  border-radius: 0.75rem;
  box-shadow: 0 -1px 0.2rem -0.2rem var(--grey-8), 0 0.1rem 5px -0.1rem var(--grey-3);
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color var(--transition-duration) var(--ease-in-out-sine);
}
header section:hover {
  color: var(--accent-4);
}
header section svg {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  display: inline-block;
}

/* single column layout */
main {
  width: 90vw;
  max-width: 35em;
  line-height: 2;
  margin: 2rem auto;
}
main > p + p {
  margin-top: 1rem;
}
main h2 {
  margin: 2.25rem 0 1.25rem;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
}
main h2:before,
main h2:after {
  content: "";
  height: 0.1rem;
  background: currentColor;
}
main h2:before {
  margin-right: 0.75rem;
}
main h2:after {
  margin-left: 0.75rem;
}
main h2:before {
  flex: 0 0 2rem;
  transition: flex 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: flex var(--transition-duration) var(--ease-in-out-sine);
}
main h2:after {
  flex: 1;
}

@media screen and (max-width: 600px) {
  main h2:before,
  main h2:before {
    flex: 1 0 0;
  }
}

/* style the code outside of pre elements with a solid background */
main code {
  font-family: "Fira Code", monospace;
  font-size: 0.9rem;
}
main p > code {
  background: var(--accent-5);
  color: var(--grey-0);
  border-radius: 0.2rem;
  padding: 0.1rem 0.2rem;
}
main pre {
  overflow-x: auto;
  padding: 1rem;
  margin: 0.2rem -0.5rem;
}
main pre code {
  font-size: 0.8rem;
}
main pre::-webkit-scrollbar {
  height: 0.4rem;
}
main pre::-webkit-scrollbar-track {
  background: var(--primary-8);
}
main pre::-webkit-scrollbar-thumb {
  background: var(--accent-5);
  border-radius: 0.2rem;
}
main ul {
  list-style-position: inside;
  margin: 1rem 0;
}
main a {
  color: inherit;
  text-decoration: none;
  border-bottom: 0.2rem solid var(--accent-5);
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color var(--transition-duration) var(--ease-in-out-sine);
}
main a:hover {
  color: var(--accent-5);
}
main a:focus {
  outline-color: var(--accent-5);
}

footer {
  color: var(--grey-0);
  background: var(--primary-8);
  text-align: center;
  padding: 3rem 1rem 2rem;
  margin-top: 5rem;
  position: relative;
}
footer a {
  font-family: "Catamaran", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02rem;
  color: inherit;
  text-decoration: none;
  border-bottom: 0.1rem solid var(--accent-4);
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color var(--transition-duration) var(--ease-in-out-sine);
}
footer a:hover,
footer a:focus {
  color: var(--accent-4);
}
footer a:focus {
  outline-color: var(--accent-4);
}

footer svg {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 4rem;
  height: 4rem;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  color: var(--primary-8);
  background: var(--grey-0);
  border: 0.4rem solid currentColor;
  border-radius: 50%;
  display: block;
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color var(--transition-duration) var(--ease-in-out-sine);
}

footer svg g {
  animation: heart-beat 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation: heart-beat var(--heart-animation-duration) var(--ease-in-out-sine) infinite;
  animation-play-state: paused;
}

@keyframes heart-beat {
  10%,
  30% {
    transform: scale(0.8);
  }
  0%,
  20%,
  40% {
    transform: scale(1);
  }
}

footer a:hover + svg,
footer a:focus + svg {
  color: var(--accent-4);
}
footer a:hover + svg g,
footer a:focus + svg g {
  animation-play-state: running;
}

@media (prefers-reduced-motion: reduce) {
  footer a:hover + svg g,
  footer a:focus + svg g,
  footer svg:hover g {
    animation-play-state: paused;
  }
}

footer svg:hover {
  color: var(--accent-4);
}
