*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary-0: hsl(205, 100%, 90%);
  --primary-1: hsl(205, 90%, 80%);
  --primary-2: hsl(210, 80%, 70%);
  --primary-3: hsl(220, 75%, 60%);
  --primary-4: hsl(222, 60%, 50%);
  --primary-5: hsl(225, 55%, 45%);
  --primary-6: hsl(225, 50%, 30%);
  --primary-7: hsl(225, 40%, 20%);
  --primary-8: hsl(230, 30%, 10%);

  --accent-0: hsl(325, 100%, 90%);
  --accent-1: hsl(332, 95%, 80%);
  --accent-2: hsl(335, 95%, 70%);
  --accent-3: hsl(337, 92%, 65%);
  --accent-4: hsl(340, 90%, 55%);
  --accent-5: hsl(342, 80%, 50%);
  --accent-6: hsl(340, 75%, 45%);
  --accent-7: hsl(340, 70%, 30%);
  --accent-8: hsl(340, 65%, 20%);

  --grey-0: hsl(0, 0%, 97%);
  --grey-1: hsl(0, 0%, 85%);
  --grey-2: hsl(0, 0%, 75%);
  --grey-3: hsl(0, 0%, 65%);
  --grey-4: hsl(0, 0%, 55%);
  --grey-5: hsl(0, 0%, 45%);
  --grey-6: hsl(0, 0%, 35%);
  --grey-7: hsl(0, 0%, 25%);
  --grey-8: hsl(0, 0%, 15%);

  --transition-duration: 0.25s;
  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

body {
  color: var(--grey-8);
  background: var(--grey-0);
  font-family: "Source Sans Pro", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}
body::-webkit-scrollbar-track {
  background: currentColor;
}
body::-webkit-scrollbar-thumb {
  border: 0.2rem solid currentColor;
  border-radius: 0.5rem;
  background: var(--accent-4);
}

::selection {
  background: var(--accent-4);
  color: var(--grey-0);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 40em;
  width: 90vw;
  margin: 2rem auto;
}
section > * + * {
  margin-top: 0.5rem;
}
section h2 {
  text-transform: capitalize;
  font-size: 3.2rem;
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
}
section p {
  font-size: 1.2rem;
  line-height: 2;
  vertical-align: middle;
}

section a {
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: inherit;
  text-decoration: none;
  border-bottom: 0.2rem solid var(--accent-5);
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color var(--transition-duration) var(--ease-in-out-sine);
  display: inline-flex;
  align-items: center;
}
section a:hover,
section a:focus {
  color: var(--accent-5);
}
section a:focus {
  outline-color: var(--accent-5);
}
section a svg {
  width: auto;
  height: 1em;
  margin-left: 0.5rem;
}
section a svg path {
  transition: stroke-dashoffset 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: stroke-dashoffset var(--transition-duration) var(--ease-in-out-sine);
}
section a:hover svg path,
section a:focus svg path {
  stroke-dashoffset: 0;
}

section > svg {
  display: block;
  max-width: 28em;
  width: 100%;
  height: auto;
  color: var(--accent-5);
  order: 1;
  align-self: flex-end;
}

section:nth-of-type(even) {
  --accent-5: var(--primary-4);
}

@media (max-width: 500px) {
  section {
    min-height: 100vh;
    margin: 0 auto;
    min-height: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section > * + * {
    margin-top: 1.5rem;
  }
  section h2 {
    font-size: 2.75rem;
  }
  section p {
    font-size: 1.1rem;
    line-height: 1.75;
  }
  section a {
    align-self: flex-start;
  }
  section > svg {
    float: initial;
    align-self: center;
    order: 1;
  }
}

@media (min-width: 700px) {
  section:nth-of-type(even) svg {
    align-self: flex-start;
  }
  section:nth-of-type(even) a {
    flex-direction: row-reverse;
    align-self: flex-end;
  }
  section:nth-of-type(even) a svg {
    transform: scaleX(-1);
    margin-left: initial;
    margin-right: 0.5rem;
  }

  @supports (shape-outside: circle()) {
    section {
      display: block;
      margin: 2rem auto;
      text-align: right;
      min-height: 100vh;
    }
    section h2 {
      text-align: center;
      margin-bottom: 3rem;
    }
    section > svg {
      order: initial;
      float: right;
      shape-outside: circle();
      align-self: initial;
      margin-left: 1rem;
    }

    section:nth-of-type(even) {
      text-align: initial;
    }

    section:nth-of-type(even) > svg {
      margin-left: initial;
      margin-right: 1rem;
      float: left;
    }

    section:nth-of-type(even) a {
      flex-direction: row-reverse;
      align-self: flex-end;
    }
    section:nth-of-type(even) a svg {
      transform: scaleX(-1);
      margin-left: initial;
      margin-right: 0.5rem;
    }
  }
}
