<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Breadcrumbs</title>
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Catamaran:500,700,800|Fira+Code|Source+Sans+Pro:400,400i,700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <nav aria-label="Breadcrumb navigation">
      <!-- by default add a link to the root path -->
      <a href="/">
        borntofrappe
      </a>
      <!-- add each successive route following a slash character -->
      <a href="/blog">
        / blog
        <!-- icon if available -->
        <!-- ! provide a default size with the width and height attributes -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="32" height="32">
          <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" fill="none">
            <g stroke-width="8">
              <path d="M -26 -19 h -20 v -6 a 12 12 0 0 1 24 0 v 50 a 12 12 0 0 0 24 0 v -5 h 44 v 5 a 12 12 0 0 1 -12 12 h -44 a 12 12 0 0 1 -12 -12" />
              <path d="M -34 -37 h 44 a 12 12 0 0 1 12 12 v 45 h -20 v 5 a 12 12 0 0 1 -24 0 v -50 a 12 12 0 0 0 -12 -12" />
            </g>
            <g stroke-width="6">
              <path d="M -10 -20 h 20" />
              <path d="M -10 -8 h 10" />
              <path d="M -10 4 h 15" />
              <path d="M -10 16 h 5" />
            </g>
          </g>
        </svg>
      </a>
      <a href="/blog/from-markdown-to-html">
        / from-markdown-to-html
      </a>
    </nav>
  </body>
</html>
