/* single column layout */
main {
  width: 90vw;
  max-width: 35em;
  line-height: 2;
  margin: 2rem auto 4rem;
}

main code {
  font-size: 0.9rem;
}

main > pre .shiki,
main > pre .language {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

main > pre .shiki {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

main > pre .language {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: color 0.2s ease-in-out;
  color: hsl(0, 0%, 97%);
  color: var(--body-background);
  background: hsl(230, 30%, 10%);
  background: var(--body-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='hsl(0, 0%25, 0%25)' opacity='0.3' width='20' height='20' viewBox='-5 -5 10 10'%3E%3Ccircle id='dot' r='1' /%3E%3Cuse href='%23dot' x='5' y='5' /%3E%3Cuse href='%23dot' x='-5' y='5' /%3E%3Cuse href='%23dot' x='5' y='-5' /%3E%3Cuse href='%23dot' x='-5' y='-5' /%3E%3C/svg%3E");
  background-size: 1rem;
  background-position: -0.5rem -0.5rem;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}
main > pre .language svg {
  width: 1.25em;
  height: auto;
  margin-right: 0.5rem;
}

main > pre:hover .language {
  color: var(--accent-4);
}

main > pre {
  margin: 0.2rem -0.5rem;
  padding: 1rem;
}
main > pre code {
  font-size: 0.8rem;
}

main pre {
  overflow-x: auto;
}
main pre::-webkit-scrollbar {
  height: 0.4rem;
}
main pre::-webkit-scrollbar-track {
  background: currentColor;
}
main pre::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 0.2rem;
}
