<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Illustration - Space</title>
  </head>
  <body>
    <svg viewBox="-100 -20 200 40" xmlns="http://www.w3.org/2000/svg" width="2000" height="400">
      <defs>
        <pattern id="pattern" viewBox="-10 -10 20 20" patternUnits="userSpaceOnUse" width="20" height="20">
          <circle r="1" />
          <circle r="1" cx="10" cy="10" />
          <circle r="1" cx="10" cy="-10" />
          <circle r="1" cx="-10" cy="10" />
          <circle r="1" cx="-10" cy="-10" />
        </pattern>
      </defs>
      <!-- <path fill="currentColor" d="M -100 -20 c -35 0 -25 35 0 28 c 10 -2 22 -3 40 -3 80 0 80 15 160 15 c 35 0 25 -35 0 -28 c -10 2 -22 3 -40 3 -80 0 -80 -15 -160 -15" /> -->
      <path fill="url(#pattern)" d="M -100 -20 c -35 0 -25 35 0 28 c 10 -2 22 -3 40 -3 80 0 80 15 160 15 c 35 0 25 -35 0 -28 c -10 2 -22 3 -40 3 -80 0 -80 -15 -160 -15" />
    </svg>
  </body>
</html>
